<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
    <nav id="navbar">
        <img src="../static/img/logo.png" id="logoImg" alt="Loading">
        <ul>
            <li><a href="/">Home </a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <section id="about">
        <h1 class="section-heading">
            About Us
        </h1>
        <p>
            This Gym established its first branch in 2013,offering group classes in Crush Fitness, Power Abs, Boxing
            / Kick Boxing, Functional Fitness, Weights Training, among others. And year after year the branch is
            expanding everywhere in NCR and its now 30+ and growing, founded by Name1 and Name2 former
            Software Engineer. And that marked the beginning of rapid expansion.
        </p>
        <p> One very important thing that this Gym want to do is make fitness interesting, make it your playground
            so that you enjoy it, you look forward to coming back and working out. Because if it is boring, if it’s
            something you’re not enjoying, you may probably end up doing it for a month; after that you’ll slowly start
            dropping out, and that’s what happens everywhere.</p>
        <p> At all the centers, classes are available from 6am – 10pm, with the slots between 6pm and 8pm being the
            busiest. The sessions are led by a team of more than 300 trainers. who try to provide individual attention
            among groups of 15-20 people.</p>
        <p> Start your fitness at myFitness Gym
            If you’re looking for a gym near you that offers more than just traditional machines to exercise with,
            choose to workout at myFitness Gym. A fitness studio that gives you an opportunity to learn new fitness
            formats and reach your fitness goals, all while having fun. Each workout session defines a perfect
            structure, which involves a warm up, a balanced full body workout and a cool down, to ensure you get fit the
            right way.</p>
        <p> Motivation? We’ve got tons of it.
            At myFitness Gym, the group workout formats are a great source of motivation.It helps you build
            co-ordinations between you and the other gym members while also breaking the workout session.</p>
        <p> Dance your way to fitness
            If you want to get in shape but lifting weights or running on a treadmill doesn’t excite you, try Zumba or
            Dance fitness at myFitness Gym. It is a fun way to help you burn calories while you have fun.</p>
        <p> Improve strength and agility with functional training
            Fill your day with energy and perform at your peak with functional training at myFitness Gym. With group
            classes like Strength and Zumba, you will improve your overall body flexibility, core strength and stamina
            and you’ll find that reaching your fitness goal will be easier than ever.</p>
        <p> Train Insane
            If the world is your playground, then we’ve got some indoor & outdoor sports to help you stay fit. Whether
            you’re looking to develop a new skill or improve your technique, with Football, Boxing and Sports
            Conditioning, myFitness Gym gives you that opportunity. Learn the skills and master it with our trainers at
            myFitness Gym.</ >
        <p> The playground
            Come train in our top-class spacious centers built to perfection with industrial interiors that’ll make
            working out an experience you’re going to love for a long, long time.</p>
        <p> Begin your journey to weight loss or fitness at Hype The Gym, unlike your traditional gym workout, your
            experience at myFitness Gym will be one that includes effective exercises and training sessions. And that’s
            not all, you can even get some health tips and nutritional advice from the experienced trainers at our myFitness Gym center.
        </p>
    </section>
    <footer>
        Copyright &copy; all rights reserved
    </footer>
</body>
</html>