<body>
    <section id="contact">
        <h1 class="section-heading">Contact Us</h1>
        <form action="/contact" method="POST" id="contact-form">
            <input type="name" name="name" class="myInput" id="name" placeholder="Enter your Name">
            <input type="email" name="email" class="myInput" id="email" placeholder="Enter your Email">
            <input type="number" name="phone" class="myInput" id="phone" placeholder="Enter your Number">
            <textarea name="message" class="myInput" id="textarea" placeholder="Enter your Message" cols="30"
                rows="10"></textarea>
            <button id="contactBtn" type="submit" class="btn">Submit</button>
        </form>
    </section>
    <div id="contact-icon">
        <i class="fas fa-phone fa-3x icon"><span style="font-size: 50%;">+919876543210</span></i>
        <a href="https://twitter.com/?lang=en" target="_blank"><i class="fab fa-twitter fa-3x icon"></i></a>
        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square fa-3x icon"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-3x icon"></i></a>
    </div>
</body>