<section id="home">
    <h1 class="section-heading">Welcome to myFitness Gym</h1>
    <div>
        <div class="homeTxt1">
            <h2>
                BUILD PERFECT BODY SHAPE AND INCREASE YOUR MUSCLE POWER
            </h2>
            <button href="/signin" class="btn" id="joinBtn">
                Join Now
            </button>
        </div>
        <div class="homeTxt2">
            <h2>
                Build Your Body Transform Your Life
            </h2>
            <h4>
                WE PROVIDE OUR BEST OPPORTINITY AND QUALIFIED TRAINERS FOR BEST WORKOUT YOURSELF AS YOU WANT
            </h4>
        </div>
    </div>
    <h2 class="sub-head">If you had a bad day, don't worry. Make it better by going to Gym</h2>
    <div class="homeTxt3">
        <img src="../static/img/homepic4.png" alt="">
        <img src="../static/img/homepic1.png" alt="">
        <img src="../static/img/homepic3.png" alt="">
        <img src="../static/img/homepic2.png" alt="">
    </div>
</section>
<div id="contact-icon">
    <i class="fas fa-phone fa-3x icon"><span style="font-size: 50%;">+919876543210</span></i>
    <a href="https://twitter.com/?lang=en" target="_blank"><i class="fab fa-twitter fa-3x icon"></i></a>
    <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square fa-3x icon"></i></a>
    <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-3x icon"></i></a>
</div>