<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Services</title>
    <link rel="stylesheet" href="../static/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
        </style>

</head>
<body>
    <nav id="navbar">
        <img src="../static/img/logo.png" id="logoImg" alt="Loading">
        <ul>
            <li><a href="/">Home </a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <section id="services">
        <div class="servicesBg">
        <h1 class="section-heading">Our Services</h1>
        <hr>
        <ol class="services-name">
            <li>Personal Training</li>
            <li>Body Building</li>
            <li>Yoga Classes</li>
            <li>Aerobics</li>
            <li>Cardio</li>
        </ol>
        </div>
        <hr>
        <div id="services-container">
            <h2>Personal Training</h2>
            <div class="sec">
                <img src="../static/img/personal-training.jpg" alt="">
                <ul>
                    <li>They have the power to educate</li>
                    <li>They help perfectyour form</li>
                    <li>They can support your plans to get fit for short-term goal or activity</li>
                    <li>They keep you accountable to your new fitness routine</li>
                    <li>They show you how to minimise time wasted and maximise results</li>
                    <li>They offer consistency and customisation with a specialised fitness plan</li>
                    <li>They keep you on track to start and keep healthy habits</li>
                    <li>They offer flexibility on where you want to train</li>
                </ul>
            </div>
            <h2>Body Building</h2>
            <div class="sec">
                <img src="../static/img/bodybuilding.jpg" alt="">
                <ul>
                    <li>Lift Progressivellt Heavier Weights</li>
                    <li>Eat at least one gram of Protein per pound of Bodyweight</li>
                    <li>Develop a Positive Mental Attitude</li>
                    <li>Includes Fats</li>
                    <li>Avoid Overtraining</li>
                    <li>Use Supplements</li>
                </ul>
            </div>
            <h2>Yoga Classes</h2>
            <div class="sec">
                <img src="../static/img/yoga.jpg" alt="">
                <ul>
                    <li>Yoga improves strength, balance and flexibility.</li>
                    <li>Yoga helps with back pain relief.</li>
                    <li>Yoga relaxes you, to help you sleep better.</li>
                    <li>Yoga helps you manage stress. </li>
                    <li>Yoga promotes better self-care.</li>
                    <li>Improves endurance in the body</li>
                </ul>
            </div>
            <h2>Aerobics</h2>
            <div class="sec">
                <img src="../static/img/aerobics.jpg" alt="">
                <ul>
                    <li>Improves cardiovascular health</li>
                    <li>Reduces chronic pain</li>
                    <li>Regulates weight</li>
                    <li>Aids sleep</li>
                    <li>Strengthens immune system</li>
                    <li>Improves brain power</li>
                </ul>
            </div>
            <h2>Cardio</h2>
            <div class="sec">
                <img src="../static/img/cardio.jpg" alt="">
                <ul>
                    <li>Improved cholesterol</li>
                    <li>Increased heart muscle strength</li>
                    <li>Effectively reduces cellulite problems</li>
                    <li>Cleanses the body of waste substances and repairs blood and lymphatic circulation</li>
                    <li>Makes the skin smoother, more elastic, softer and revitalises dry skin</li>
                    <li>Reduces muscular and joint pains</li>
                    <li>Stress reduction</li>
                </ul>
            </div>
            
        </div>
    </section>
    <footer>
        Copyright &copy; all rights reserved
    </footer>
</body>
</html>