<body>
	<div id="main">
		<div class="h-tag">
			<h2>Create Your Account</h2>
		</div>
		<div class="login">
			<table cellspacing="2" cellpadding=>
				<tr>
					<td class="login-name">Enter Name :</td>
					<td><input type="text" name="name" placeholder="Enter user here" id="t1" class="tb" /></td>
				</tr>
				<tr>
					<td class="login-name">Enter Email ID :</td>
					<td><input type="text" name="email" placeholder="Enter Email ID here" id="t2" class="tb" /></td>
				</tr>
				<tr>
					<td class="login-name">Enter Username :</td>
					<td><input type="text" name="uname" placeholder="Enter Username here" id="t3" class="tb" /></td>
				</tr>
				<tr>
					<td class="login-name">Enter Password :</td>
					<td><input type="password" name="pwd" placeholder="Enter Password here" id="t4" class="tb" /></td>
				</tr>
				<tr>
					<td class="login-name">Enter Confirm Password :</td>
					<td><input type="password" placeholder="Enter Password here" id="t5" class="tb" /></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="reset" value="Clear Form" onclick="clearFunc()" id="res" class="btn" />
						<input type="submit" value="Create Account" class="btn" onclick="registration()" />
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
